/*
	#0A0055
	#606060
	
*/

body{
	color: #A80000;
}

table{
	color: #000;
}

.jumbotron h1{
	color: #0A0055;
}

.navbar-inverse .navbar-nav > li > a,
.navbar-inverse .navbar-brand{
	color: #C7C7C7;
}

.jumbotron{
	text-align: center;
}

#footer,
.btn-primary,
.panel-primary{
	border-color: #0A0055;
}

.navbar-inverse,
#footer,
.btn-primary,
.panel-primary > .panel-heading
{
	background-color: #0A0055;
}

#footer{
	font-size: 9px;
	text-align: right;
}

.navbar-inverse .navbar-toggle{
	border-color: #fff;
}

.ui-dialog .ui-dialog-title,
#footer > .container > .text-muted{
	color: #fff;
}

.ui-draggable .ui-dialog-titlebar{
	background-color: #0A0055;
}